@import '@angular/material/prebuilt-themes/azure-blue.css';

:root {
	color-scheme: light;
	--search-bg-image: none;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}

body {
	font-family: 'Segoe UI', sans-serif;
	background: #f9fbff;
	color: #1f1f1f;
}

.mat-mdc-button-base,
.mat-mdc-form-field {
	--mdc-outlined-text-field-outline-width: 3px;
	--mdc-filled-button-container-shape: 14px;
	--mdc-outlined-button-container-shape: 14px;
}

.mat-mdc-button,
.mat-mdc-unelevated-button,
.mat-mdc-outlined-button {
	border: 3px solid #1f1f1f;
	box-shadow: none;
}
