<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <!-- WASM files -->
      <remove fileExtension=".wasm" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
      
      <!-- JavaScript files -->
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      
      <!-- JSON files -->
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      
      <!-- SVG files -->
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      
      <!-- PNG files -->
      <remove fileExtension=".png" />
      <mimeMap fileExtension=".png" mimeType="image/png" />
      
      <!-- Other common image formats -->
      <remove fileExtension=".jpg" />
      <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
      
      <remove fileExtension=".jpeg" />
      <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
      
      <remove fileExtension=".gif" />
      <mimeMap fileExtension=".gif" mimeType="image/gif" />
      
      <remove fileExtension=".ico" />
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
      
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
    
    <!-- URL Rewrite for Angular routing -->
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>